<% if @user.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @user , url: {action: :create} do |f| %>
    <%= f.label :uid, 'ユーザー名' %>
    <%= f.text_field :uid %>
    <%= f.label :password, 'パスワード' %>
    <%= f.text_field :password %>
    <%= f.label :password_confirmation, '確認用パスワード' %>
    <%= f.text_field :password_confirmation %>
    
    <%= f.submit '作成' %>
<% end %>